* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	// padding-left: 430px;
	.pokedex {
		position: relative;
		width: 250px;
		height: 350px;
		transform-style: preserve-3d;
		perspective: 500px;
		border-radius: 20px 0 0 20px;
		display: grid;
		grid-template-columns: 1fr 10%;
		grid-template-rows: 20% 1fr 10%;
		.pokedex-top-left {
			display: flex;
			grid-area: 1 / 1 / 2 / 2;
			.box-left {
				display: flex;
				width: 50%;
				height: 100%;
				border-top-left-radius: 20px;
				background-color: red;
				.circle {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50%;
					height: 100%;

					&::before {
						content: "";
						box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2),
							inset 0px 0px 10px rgba($color: #000000, $alpha: 0.4);
						width: 40px;
						height: 40px;
						border-radius: 50%;
						border: 2px solid white;
						background-color: skyblue;
					}
				}
				.three-circles {
					width: 50%;
					height: 100%;
					display: flex;
					justify-content: space-between;
					padding-top: 10px;
					.red-circle {
						border-radius: 50%;
						height: 15px;
						width: 15px;
						background-color: darkred;
						box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 2);
					}
					.yellow-circle {
						border-radius: 50%;
						height: 15px;
						width: 15px;
						background-color: yellow;
						box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 2);
					}
					.green-circle {
						border-radius: 50%;
						height: 15px;
						width: 15px;
						background-color: green;
						box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 2);
					}
				}
			}
			.box-right {
				width: 50%;
				height: 100%;
				background-color: red;
				display: flex;
				padding-top: 30px;
				.left {
					width: 50%;
					height: 100%;
					background-color: transparent;
					border-left: 75px solid transparent;
					border-bottom: 40px solid #c90505;
				}
				.right {
					width: 50%;
					height: 100%;
					background-color: #c90505;
				}
			}
		}
		.center-top {
			grid-area: 1 / 2 / 2 / 3;
			background-color: red;
			padding-top: 30px;
			z-index: 3;
			div {
				height: 100%;
				width: 100%;
				border-bottom: 2px solid whitesmoke;
				background-color: red;
				box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5),
					inset 2px 0px 20px rgba($color: #000000, $alpha: 0.3);
			}
		}
		.center {
			grid-area: 2 / 2 / 3 / 3;
			background-color: red;
			border-bottom: 2px solid whitesmoke;
			box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5),
				inset 2px 0px 20px rgba($color: #000000, $alpha: 0.3);
			z-index: 3;
		}
		.center-bottom {
			grid-area: 3 / 2 / 4 / 3;
			background-color: red;
			box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5),
				inset 2px 0px 20px rgba($color: #000000, $alpha: 0.3);
			z-index: 3;
		}
		.main {
			grid-area: 2 / 1 / 4 / 2;
			border-bottom-left-radius: 20px;
			background-color: #c90505;
			.display {
				margin: 0 auto;
				margin-top: 10px;
				width: 90%;
				height: 66%;
				border-radius: 8px 8px 8px 0px;
				background-color: #eee;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.top {
					height: 10%;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;
					span {
						height: 13px;
						width: 13px;
						border-radius: 50%;
						background-color: red;
					}
				}
				.screen {
					width: 85%;
					height: 70%;
					border-radius: 8px;
					background-image: radial-gradient(
						circle farthest-corner at 10% 20%,
						rgba(14, 174, 87, 1) 0%,
						rgba(12, 116, 117, 1) 90%
					);
				}
				.bottom {
					width: 100%;
					height: 20%;
					display: flex;
					.border {
						width: 20%;
						height: 100%;
						border-bottom: 36px solid #c90505;
						border-right: 42px solid transparent;
					}
					.bottom-button {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						width: 40%;
						height: 100%;

						span {
							width: 20px;
							height: 20px;
							border-radius: 50%;
							background-color: red;
						}
					}
					.bottom-sound {
						display: flex;
						flex-direction: column;
						gap: 3px;
						align-items: flex-end;
						justify-content: center;
						padding-right: 20px;
						width: 40%;
						height: 100%;
						span {
							width: 35px;
							height: 2px;
							background-color: #999;
						}
					}
				}
			}
			.controls {
				margin: 0 auto;
				width: 90%;
				height: 30%;
				background-color: chocolate;
				.turnOn {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 62%;
					height: 40%;
					gap: 10px;
					background-color: aquamarine;
					.on {
						width: 32px;
						height: 32px;
						border-radius: 50%;
						background-color: #333;
					}
					.decoration-red {
						width: 35px;
						height: 10px;
						border-radius: 12px;
						background-color: darkred;
					}
					.decoration-blue {
						width: 35px;
						height: 10px;
						border-radius: 12px;
						background-color: skyblue;
					}
				}
			}
		}
		/* 
    
    
    
    parte derecha
    
    
    
    */
		.pokedex-inside-right {
			position: absolute;
			width: 100%;
			height: 80%;
			margin-top: 28%;
			border-radius: 0 0 0 20px;
			background-color: red;
			transform-origin: right;
			transition: transform 1s;
			z-index: 2;
			&.active {
				transform: rotateY(180deg);
			}
			.pokedex-top {
				position: absolute;
				top: -25%;
				width: 100%;
				height: 20%;
				display: flex;
				// padding: 5px;
				.box-left {
					width: 50%;
					height: 100%;
				}
				.box-right {
					width: 50%;
					height: 100%;
					display: flex;
					padding-top: 30px;
					.left {
						width: 50%;
						height: 100%;
						background-color: transparent;
						border-left: 75px solid transparent;
						border-bottom: 40px solid red;
					}
					.right {
						width: 50%;
						height: 40px;
						background-color: red;
					}
				}
			}
		}
		// &:hover .pokedex-inside-right {
		// 	transform: rotateY(180deg);
		// }
	}
}
