@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Share Tech Mono", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .welcome {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.5;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .welcome::before {
  content: "";
  width: 350px;
  height: 400px;
  background-color: white;
}
body .pokedex {
  position: relative;
  width: 250px;
  height: 350px;
  transform-style: preserve-3d;
  perspective: 500px;
  border-radius: 20px 0 0 20px;
  display: grid;
  grid-template-columns: 1fr 10%;
  grid-template-rows: 20% 1fr 10%;
  /* 



    parte derecha



    */
}
body .pokedex .pokedex-top-left {
  display: flex;
  grid-area: 1/1/2/2;
}
body .pokedex .pokedex-top-left .box-left {
  display: flex;
  width: 50%;
  height: 100%;
  border-top-left-radius: 20px;
  background-color: red;
}
body .pokedex .pokedex-top-left .box-left .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
body .pokedex .pokedex-top-left .box-left .circle::before {
  content: "";
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), inset 0px 0px 10px rgba(0, 0, 0, 0.4);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: skyblue;
}
body .pokedex .pokedex-top-left .box-left .circle::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 17px;
  width: 8px;
  height: 12px;
  opacity: 0.8;
  transform: rotate(45deg);
  background-color: white;
  border-radius: 50%;
}
body .pokedex .pokedex-top-left .box-left .three-circles {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
body .pokedex .pokedex-top-left .box-left .three-circles .red-circle {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: darkred;
  box-shadow: inset 0px 0px 3px black;
}
body .pokedex .pokedex-top-left .box-left .three-circles .yellow-circle {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: yellow;
  box-shadow: inset 0px 0px 3px black;
}
body .pokedex .pokedex-top-left .box-left .three-circles .green-circle {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: green;
  box-shadow: inset 0px 0px 3px black;
}
body .pokedex .pokedex-top-left .box-right {
  width: 50%;
  height: 100%;
  background-color: red;
  display: flex;
  padding-top: 30px;
}
body .pokedex .pokedex-top-left .box-right .left {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border-left: 75px solid transparent;
  border-bottom: 40px solid #c90505;
}
body .pokedex .pokedex-top-left .box-right .right {
  width: 50%;
  height: 100%;
  background-color: #c90505;
}
body .pokedex .center-top {
  grid-area: 1/2/2/3;
  background-color: red;
  padding-top: 30px;
  z-index: 3;
}
body .pokedex .center-top div {
  height: 100%;
  width: 100%;
  border-bottom: 2px solid whitesmoke;
  background-color: red;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), inset 2px 0px 20px rgba(0, 0, 0, 0.3);
}
body .pokedex .center {
  grid-area: 2/2/3/3;
  background-color: red;
  border-bottom: 2px solid whitesmoke;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), inset 2px 0px 20px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
body .pokedex .center-bottom {
  grid-area: 3/2/4/3;
  background-color: red;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), inset 2px 0px 20px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
body .pokedex .main {
  grid-area: 2/1/4/2;
  border-bottom-left-radius: 20px;
  background-color: #c90505;
}
body .pokedex .main .display {
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
  height: 66%;
  border-radius: 8px 8px 8px 0px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .pokedex .main .display .top {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .pokedex .main .display .top span {
  position: relative;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: red;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
body .pokedex .main .display .top span::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 3px;
  height: 4px;
  opacity: 0.8;
  transform: rotate(45deg);
  background-color: white;
  border-radius: 50%;
}
body .pokedex .main .display .screen {
  width: 85%;
  height: 70%;
  border-radius: 8px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(14, 174, 87) 0%, rgb(12, 116, 117) 90%);
  box-shadow: inset 0px 0px 10px black;
}
body .pokedex .main .display .screen.active {
  background-image: linear-gradient(0deg, rgb(24, 138, 141) 11.2%, rgb(96, 221, 142) 91.1%);
}
body .pokedex .main .display .bottom {
  width: 100%;
  height: 20%;
  display: flex;
}
body .pokedex .main .display .bottom .border {
  width: 20%;
  height: 100%;
  border-bottom: 36px solid #c90505;
  border-right: 42px solid transparent;
}
body .pokedex .main .display .bottom .bottom-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: 100%;
}
body .pokedex .main .display .bottom .bottom-button span {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
body .pokedex .main .display .bottom .bottom-button span::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 5px;
  height: 7px;
  opacity: 0.8;
  transform: rotate(45deg);
  background-color: white;
  border-radius: 50%;
}
body .pokedex .main .display .bottom .bottom-sound {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-end;
  justify-content: center;
  padding-right: 20px;
  width: 40%;
  height: 100%;
}
body .pokedex .main .display .bottom .bottom-sound span {
  width: 35px;
  height: 2px;
  background-color: #999;
}
body .pokedex .main .controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40% 1fr;
  margin: 0 auto;
  width: 90%;
  height: 30%;
}
body .pokedex .main .controls .turnOn {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 10px;
}
body .pokedex .main .controls .turnOn .on {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: red;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8), inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}
body .pokedex .main .controls .turnOn .on.active {
  color: greenyellow;
}
body .pokedex .main .controls .turnOn .decoration-red {
  width: 35px;
  height: 10px;
  border-radius: 12px;
  background-color: darkred;
  box-shadow: inset 0px 0px 3px black;
}
body .pokedex .main .controls .turnOn .decoration-blue {
  width: 35px;
  height: 10px;
  border-radius: 12px;
  background-color: skyblue;
  box-shadow: inset 0px 0px 3px black;
}
body .pokedex .main .controls .mini-display {
  display: flex;
  grid-area: 2/1/3/2;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding-top: 10px;
}
body .pokedex .main .controls .mini-display span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
}
body .pokedex .main .controls .mini-display .mini-screen {
  width: 60%;
  height: 70%;
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px black;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(14, 174, 87) 0%, rgb(12, 116, 117) 90%);
}
body .pokedex .main .controls .mini-display .mini-screen.active {
  background-image: linear-gradient(0deg, rgb(24, 138, 141) 11.2%, #60dd8e 91.1%);
}
body .pokedex .main .controls .arrows {
  grid-area: 1/2/3/3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
body .pokedex .main .controls .arrows span {
  height: 60%;
  width: 60%;
  background-color: #333;
}
body .pokedex .main .controls .arrows .arrow-top {
  border-radius: 3px 3px 0 0;
  justify-self: center;
  align-self: flex-end;
  grid-area: 1/2/2/3;
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.8);
}
body .pokedex .main .controls .arrows .arrow-left {
  border-radius: 3px 0 0 3px;
  justify-self: right;
  grid-area: 2/1/3/2;
  box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.8);
}
body .pokedex .main .controls .arrows .arrow-right {
  border-radius: 0 3px 3px 0;
  justify-self: left;
  grid-area: 2/3/3/4;
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.8);
}
body .pokedex .main .controls .arrows .arrow-center {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  justify-self: center;
  grid-area: 2/2/3/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .pokedex .main .controls .arrows .arrow-center span {
  width: 7px;
  height: 7px;
  background-color: #222;
  border-radius: 50%;
}
body .pokedex .main .controls .arrows .arrow-bottom {
  border-radius: 0 0 3px 3px;
  justify-self: center;
  align-self: flex-start;
  grid-area: 3/2/4/3;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}
body .pokedex .pokedex-inside-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 80%;
  margin-top: 28%;
  border-radius: 0 0 0 20px;
  background-color: red;
  transform-origin: right;
  transition: transform 1s;
  z-index: 2;
}
body .pokedex .pokedex-inside-right.active {
  transform: rotateY(180deg);
}
body .pokedex .pokedex-inside-right .pokedex-top {
  position: absolute;
  top: -25%;
  width: 100%;
  height: 20%;
  display: flex;
}
body .pokedex .pokedex-inside-right .pokedex-top .box-left {
  width: 50%;
  height: 100%;
}
body .pokedex .pokedex-inside-right .pokedex-top .box-right {
  width: 50%;
  height: 100%;
  display: flex;
  padding-top: 30px;
}
body .pokedex .pokedex-inside-right .pokedex-top .box-right .left {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border-left: 75px solid transparent;
  border-bottom: 40px solid red;
}
body .pokedex .pokedex-inside-right .pokedex-top .box-right .right {
  width: 50%;
  height: 40px;
  background-color: red;
}
body .pokedex .pokedex-inside-right .info-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80% 1fr;
  margin-top: 20px;
  width: 80%;
  height: 50%;
  justify-items: center;
  align-items: flex-end;
}
body .pokedex .pokedex-inside-right .info-display .info-screen {
  padding: 10px;
  font-size: 12px;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(14, 174, 87) 0%, rgb(12, 116, 117) 90%);
  box-shadow: inset 0px 0px 10px black;
  border-radius: 6px;
  grid-area: 1/1/2/5;
}
body .pokedex .pokedex-inside-right .info-display .info-screen.active {
  background-image: linear-gradient(0deg, rgb(24, 138, 141) 11.2%, rgb(96, 221, 142) 91.1%);
}
body .pokedex .pokedex-inside-right .info-display .blue-box1,
body .pokedex .pokedex-inside-right .info-display .blue-box2,
body .pokedex .pokedex-inside-right .info-display .blue-box3,
body .pokedex .pokedex-inside-right .info-display .blue-box4 {
  width: 90%;
  height: 90%;
  background-color: lightblue;
  box-shadow: inset 0px 0px 3px black;
}
body .pokedex .pokedex-inside-right .info-display .blue-box4 {
  border-radius: 0px 4px 4px 0px;
}
body .pokedex .pokedex-inside-right .info-display .blue-box1 {
  border-radius: 4px 0px 0px 4px;
}
body .pokedex .pokedex-inside-right .search {
  width: 80%;
  height: 50%;
}
body .pokedex .pokedex-inside-right .search .top-decoration {
  display: flex;
  align-items: center;
  padding-left: 3px;
  gap: 10px;
  width: 100%;
  height: 20%;
}
body .pokedex .pokedex-inside-right .search .top-decoration span {
  width: 35px;
  height: 10px;
  border-radius: 12px;
  background-color: #333;
  box-shadow: inset 0px 0px 3px black;
}
body .pokedex .pokedex-inside-right .search .play-stop-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35%;
}
body .pokedex .pokedex-inside-right .search .play-stop-buttons .buttons {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
body .pokedex .pokedex-inside-right .search .play-stop-buttons .buttons span {
  box-shadow: 2px -4px 2px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 20px;
  background-color: #eee;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}
body .pokedex .pokedex-inside-right .search .play-stop-buttons .led {
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  background-color: yellow;
  border-radius: 50%;
  border: 1px solid #666;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.8);
}
body .pokedex .pokedex-inside-right .search .play-stop-buttons .led::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 6px;
  height: 8px;
  opacity: 1;
  transform: rotate(-45deg);
  background-color: white;
  border-radius: 50%;
}
body .pokedex .pokedex-inside-right .search .form {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  font-size: 12px;
  gap: 2px;
}
body .pokedex .pokedex-inside-right .search .form div {
  width: 100%;
  height: 50%;
}
body .pokedex .pokedex-inside-right .search .form .form-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .pokedex .pokedex-inside-right .search .form .form-top label {
  color: yellow;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
body .pokedex .pokedex-inside-right .search .form .form-top input {
  border-radius: 5px;
  border: 3px double #666;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #333;
  color: white;
  width: 60%;
  height: 20px;
}
body .pokedex .pokedex-inside-right .search .form .form-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .pokedex .pokedex-inside-right .search .form .form-bottom button {
  font-family: "Share Tech Mono";
  display: flex;
  align-items: center;
  height: 75%;
  width: auto;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}/*# sourceMappingURL=styles.css.map */