@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Share Tech Mono", sans-serif;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.welcome {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #333;
		opacity: 0.5;
		z-index: 5;
		display: flex;
		justify-content: center;
		align-items: center;
		&.out {
			display: none;
		}
	}
	.modal {
		position: fixed;
		display: flex;
		flex-direction: column;
		width: 400px;
		height: 350px;
		border-radius: 5px;
		background-color: white;
		margin: auto;
		padding: 0 10px;
		z-index: 6;
		img {
			margin-top: 10px;
			width: 100%;
			border-radius: 20px;
		}
		p {
			text-align: justify;
			margin-top: 10px;
		}
		h2 {
			color: red;
			margin-top: 10px;
			font-size: 20px;
		}
		ul {
			li {
				list-style-type: none;
				margin-top: 10px;
				margin-left: 20px;
			}
		}
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 5px auto;
			border-radius: 20px;
			text-align: center;
			padding: 10px 20px;
			background-color: #c90505;
			color: white;
			font-size: 15px;
			font-family: "Share Tech Mono";
			cursor: pointer;
			transition: background-color 0.3s;
			&:hover {
				background-color: red;
			}
		}
		&.out {
			display: none;
		}
	}
	.pokedex {
		position: relative;
		width: 250px;
		height: 350px;
		transform-style: preserve-3d;
		perspective: 500px;
		border-radius: 20px 0 0 20px;
		display: grid;
		grid-template-columns: 1fr 10%;
		grid-template-rows: 20% 1fr 10%;
		.pokedex-top-left {
			display: flex;
			grid-area: 1 / 1 / 2 / 2;
			.box-left {
				display: flex;
				width: 50%;
				height: 100%;
				border-top-left-radius: 20px;
				background-color: red;
				.circle {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50%;
					height: 100%;

					&::before {
						content: "";
						box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2),
							inset 0px 0px 10px rgba($color: #000000, $alpha: 0.4);
						width: 40px;
						height: 40px;
						border-radius: 50%;
						border: 3px solid white;
						background-color: skyblue;
					}
					&::after {
						content: "";
						position: absolute;
						top: 20px;
						left: 17px;
						width: 8px;
						height: 12px;
						opacity: 0.8;
						transform: rotate(45deg);
						background-color: white;
						border-radius: 50%;
					}
				}
				.three-circles {
					width: 50%;
					height: 100%;
					display: flex;
					justify-content: space-between;
					padding-top: 10px;
					.red-circle {
						border-radius: 50%;
						height: 15px;
						width: 15px;
						background-color: darkred;
						box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 2);
					}
					.yellow-circle {
						border-radius: 50%;
						height: 15px;
						width: 15px;
						background-color: yellow;
						box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 2);
					}
					.green-circle {
						border-radius: 50%;
						height: 15px;
						width: 15px;
						background-color: green;
						box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 2);
					}
				}
			}
			.box-right {
				width: 50%;
				height: 100%;
				background-color: red;
				display: flex;
				padding-top: 30px;
				.left {
					width: 50%;
					height: 100%;
					background-color: transparent;
					border-left: 75px solid transparent;
					border-bottom: 40px solid #c90505;
				}
				.right {
					width: 50%;
					height: 100%;
					background-color: #c90505;
				}
			}
		}
		.center-top {
			grid-area: 1 / 2 / 2 / 3;
			background-color: red;
			padding-top: 30px;
			z-index: 3;
			div {
				height: 100%;
				width: 100%;
				border-bottom: 2px solid whitesmoke;
				background-color: red;
				box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5),
					inset 2px 0px 20px rgba($color: #000000, $alpha: 0.3);
			}
		}
		.center {
			grid-area: 2 / 2 / 3 / 3;
			background-color: red;
			border-bottom: 2px solid whitesmoke;
			box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5),
				inset 2px 0px 20px rgba($color: #000000, $alpha: 0.3);
			z-index: 3;
		}
		.center-bottom {
			grid-area: 3 / 2 / 4 / 3;
			background-color: red;
			box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5),
				inset 2px 0px 20px rgba($color: #000000, $alpha: 0.3);
			z-index: 3;
		}
		.main {
			grid-area: 2 / 1 / 4 / 2;
			border-bottom-left-radius: 20px;
			background-color: #c90505;
			.display {
				margin: 0 auto;
				margin-top: 10px;
				width: 90%;
				height: 66%;
				border-radius: 8px 8px 8px 0px;
				background-color: #eee;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.top {
					height: 10%;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;
					span {
						position: relative;
						height: 13px;
						width: 13px;
						border-radius: 50%;
						background-color: red;
						box-shadow: inset 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
						&::after {
							content: "";
							position: absolute;
							top: 3px;
							left: 3px;
							width: 3px;
							height: 4px;
							opacity: 0.8;
							transform: rotate(45deg);
							background-color: white;
							border-radius: 50%;
						}
					}
				}
				.screen {
					width: 85%;
					height: 70%;
					border-radius: 8px;
					background-image: radial-gradient(
						circle farthest-corner at 10% 20%,
						rgba(14, 174, 87, 1) 0%,
						rgba(12, 116, 117, 1) 90%
					);
					box-shadow: inset 0px 0px 10px rgba($color: #000000, $alpha: 2);
					&.active {
						background-image: linear-gradient(
							0deg,
							rgba(24, 138, 141, 1) 11.2%,
							rgba(96, 221, 142, 1) 91.1%
						);
					}
				}
				.bottom {
					width: 100%;
					height: 20%;
					display: flex;
					.border {
						width: 20%;
						height: 100%;
						border-bottom: 36px solid #c90505;
						border-right: 42px solid transparent;
					}
					.bottom-button {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						width: 40%;
						height: 100%;

						span {
							position: relative;
							width: 20px;
							height: 20px;
							border-radius: 50%;
							background-color: red;
							box-shadow: inset 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
							&::after {
								content: "";
								position: absolute;
								top: 3px;
								left: 4px;
								width: 5px;
								height: 7px;
								opacity: 0.8;
								transform: rotate(45deg);
								background-color: white;
								border-radius: 50%;
							}
						}
					}
					.bottom-sound {
						display: flex;
						flex-direction: column;
						gap: 3px;
						align-items: flex-end;
						justify-content: center;
						padding-right: 20px;
						width: 40%;
						height: 100%;
						span {
							width: 35px;
							height: 2px;
							background-color: #999;
						}
					}
				}
			}
			.controls {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 40% 1fr;
				margin: 0 auto;
				width: 90%;
				height: 30%;

				.turnOn {
					grid-area: 1 / 1 / 2 / 2;
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					height: 100%;
					gap: 10px;
					.on {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 22px;
						color: red;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						background-color: #333;
						cursor: pointer;
						box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.8),
							inset 0px 0px 10px rgba($color: #000000, $alpha: 0.4);
						&.active {
							color: greenyellow;
						}
					}
					.decoration-red {
						width: 35px;
						height: 10px;
						border-radius: 12px;
						background-color: darkred;
						box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 2);
					}
					.decoration-blue {
						width: 35px;
						height: 10px;
						border-radius: 12px;
						background-color: skyblue;
						box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 2);
					}
				}
				.mini-display {
					display: flex;
					grid-area: 2 /1 /3 / 2;
					width: 100%;
					height: 100%;
					gap: 10px;
					padding-top: 10px;

					span {
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background-color: #000;
					}
					.mini-screen {
						width: 60%;
						height: 70%;
						border-radius: 5px;
						// background-color: green;
						box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 2);
						background-image: radial-gradient(
							circle farthest-corner at 10% 20%,
							rgba(14, 174, 87, 1) 0%,
							rgba(12, 116, 117, 1) 90%
						);
						&.active {
							background-image: linear-gradient(
								0deg,
								rgba(24, 138, 141, 1) 11.2%,
								#60dd8e 91.1%
							);
						}
					}
				}
				.arrows {
					grid-area: 1/ 2 / 3 / 3;
					width: 100%;
					height: 100%;
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: repeat(3, 1fr);
					justify-content: center;
					align-items: center;
					span {
						height: 60%;
						width: 60%;
						background-color: #333;
					}
					.arrow-top {
						border-radius: 3px 3px 0 0;
						justify-self: center;
						align-self: flex-end;
						grid-area: 1 / 2 / 2 /3;
						box-shadow: 0px -1px 3px rgba($color: #000000, $alpha: 0.8);
					}
					.arrow-left {
						border-radius: 3px 0 0 3px;
						justify-self: right;
						grid-area: 2/1/3/2;
						box-shadow: -1px 0px 3px rgba($color: #000000, $alpha: 0.8);
					}
					.arrow-right {
						border-radius: 0 3px 3px 0;
						justify-self: left;
						grid-area: 2/3/3/4;
						box-shadow: 0px -1px 3px rgba($color: #000000, $alpha: 0.8);
					}
					.arrow-center {
						width: 100%;
						height: 100%;
						border-radius: 8px;
						justify-self: center;
						grid-area: 2/2/3/3;
						display: flex;
						justify-content: center;
						align-items: center;

						span {
							width: 7px;
							height: 7px;
							background-color: #222;
							border-radius: 50%;
						}
					}
					.arrow-bottom {
						border-radius: 0 0 3px 3px;
						justify-self: center;
						align-self: flex-start;
						grid-area: 3/2/4/3;
						box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: 0.8);
					}
				}
			}
		}
		/* 
    
    
    
    parte derecha
    
    
    
    */
		.pokedex-inside-right {
			display: flex;
			align-items: center;
			flex-direction: column;
			position: absolute;
			width: 100%;
			height: 80%;
			margin-top: 28%;
			border-radius: 0 0 0 20px;
			background-color: red;
			transform-origin: right;
			transition: transform 1s;
			z-index: 2;
			&.active {
				transform: rotateY(180deg);
			}
			.pokedex-top {
				position: absolute;
				top: -25%;
				width: 100%;
				height: 20%;
				display: flex;
				// padding: 5px;
				.box-left {
					width: 50%;
					height: 100%;
				}
				.box-right {
					width: 50%;
					height: 100%;
					display: flex;
					padding-top: 30px;
					.left {
						width: 50%;
						height: 100%;
						background-color: transparent;
						border-left: 75px solid transparent;
						border-bottom: 40px solid red;
					}
					.right {
						width: 50%;
						height: 40px;
						background-color: red;
					}
				}
			}
			.info-display {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: 80% 1fr;
				margin-top: 20px;
				width: 80%;
				height: 50%;
				justify-items: center;
				align-items: flex-end;
				.info-screen {
					padding: 10px;
					font-size: 12px;
					transform: rotateY(180deg);
					width: 100%;
					height: 100%;
					background-image: radial-gradient(
						circle farthest-corner at 10% 20%,
						rgba(14, 174, 87, 1) 0%,
						rgba(12, 116, 117, 1) 90%
					);
					box-shadow: inset 0px 0px 10px rgba($color: #000000, $alpha: 2);
					border-radius: 6px;
					grid-area: 1 / 1 / 2 / 5;
					&.active {
						background-image: linear-gradient(
							0deg,
							rgba(24, 138, 141, 1) 11.2%,
							rgba(96, 221, 142, 1) 91.1%
						);
					}
				}
				.blue-box1,
				.blue-box2,
				.blue-box3,
				.blue-box4 {
					width: 90%;
					height: 90%;
					background-color: lightblue;
					box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 1);
				}
				.blue-box4 {
					border-radius: 0px 4px 4px 0px;
				}
				.blue-box1 {
					border-radius: 4px 0px 0px 4px;
				}
			}
			.search {
				width: 80%;
				height: 50%;

				.top-decoration {
					display: flex;
					align-items: center;
					padding-left: 3px;
					gap: 10px;
					width: 100%;
					height: 20%;

					span {
						width: 35px;
						height: 10px;
						border-radius: 12px;
						background-color: #333;
						box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 2);
					}
				}
				.play-stop-buttons {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					height: 35%;

					.buttons {
						width: 50%;
						height: 100%;

						display: flex;
						align-items: center;
						justify-content: flex-end;
						gap: 5px;
						span {
							box-shadow: 2px -4px 2px rgba($color: #000000, $alpha: 0.2);
							width: 30px;
							height: 20px;
							background-color: #eee;
							border-radius: 3px;
							display: flex;
							align-items: center;
							justify-content: center;
							transform: rotate(180deg);
						}
					}
					.led {
						position: relative;
						width: 25px;
						height: 25px;
						margin-left: 5px;
						background-color: yellow;
						border-radius: 50%;
						border: 1px solid #666;
						box-shadow: inset 0px 0px 5px rgba($color: #000000, $alpha: 0.8);
						&::after {
							content: "";
							position: absolute;
							top: 5px;
							right: 5px;
							width: 6px;
							height: 8px;
							opacity: 1;
							transform: rotate(-45deg);
							background-color: white;
							border-radius: 50%;
						}
					}
				}
				.form {
					width: 100%;
					height: 40%;
					display: flex;
					flex-direction: column;
					transform: rotateY(180deg);
					font-size: 12px;
					gap: 2px;
					div {
						width: 100%;
						height: 50%;
						// background-color: blueviolet;
					}
					.form-top {
						display: flex;
						justify-content: space-around;
						align-items: center;
						label {
							color: yellow;
							text-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.6);
						}
						input {
							border-radius: 5px;
							border: 3px double #666;
							box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
							background-color: #333;
							color: white;
							width: 60%;
							height: 20px;
						}
					}
					.form-bottom {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						button {
							font-family: "Share Tech Mono";
							display: flex;
							align-items: center;
							height: 75%;
							width: auto;
							border-radius: 5px;
							font-size: 12px;
							padding: 5px 12px;
						}
					}
				}
			}
		}
		// &:hover .pokedex-inside-right {
		// 	transform: rotateY(180deg);
		// }
	}
}
